@page
@model dwp.ms.demo.registration.ui.Pages.RegistrationModel
@{
    ViewData["Title"] = "Registration";
}

<h1>Registration</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Registration.regNo" class="control-label">RegistrationNo</label>
                <input asp-for="Registration.regNo" class="form-control" />
                <span asp-validation-for="Registration.regNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registration.chesisNo" class="control-label">ChassisNo</label>
                <input asp-for="Registration.chesisNo" class="form-control" />
                <span asp-validation-for="Registration.chesisNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registration.engineNo" class="control-label">EngineNo</label>
                <input asp-for="Registration.engineNo" class="form-control" />
                <span asp-validation-for="Registration.engineNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registration.name" class="control-label">Name</label>
                <input asp-for="Registration.name" class="form-control" />
                <span asp-validation-for="Registration.name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registration.address" class="control-label">Address</label>
                <input asp-for="Registration.address" class="form-control" />
                <span asp-validation-for="Registration.address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registration.phone" class="control-label">Phone</label>
                <input asp-for="Registration.phone" class="form-control" />
                <span asp-validation-for="Registration.phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
